.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
body {
  /* background-color: rgb(255, 255, 255); */

  background-image: url("./backgroundImage.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.table__time-wrapper__target-disabled--disabled {
  opacity: 0.4;
}

/* .MuiInputBase-input.MuiInput-input {
  text-align: center;
} */

.MuiDropzoneArea-root {
  min-height: 160px !important;
}

.MuiTableCell-root {
  border-top: 1px solid rgba(224, 224, 224, 1);
}
.MuiPaper-elevation1 {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2),
    1px 2px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.fc-more-popover {
  max-height: 95%;
  overflow-y: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.fc-event-title.fc-sticky {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.fc-toolbar-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.fc-col-header-cell-cushion {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(90, 89, 117);
}
.fc-button {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.fc-popover-title {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}

.fc-daygrid-more-link {
  font-family: "Roboto", sans-serif !important;
  color: grey;
}

.fc-daygrid-more-link:hover {
  font-weight: 500 !important;
}

.fc-event-title-container {
  cursor: pointer;
}
.fc-event-title-container:hover {
  color: black;
}

.modal-no-work__wrapper-content__left__fixed-date__click {
  background-color: #f5f5f5 !important;
  color: #fd7c6e !important;
}
.ReactModal__Content {
  overflow: unset !important;
}
