#mainDiv {
  width: 700px;
  margin: auto;
  margin-top: 20px;
}
@media screen and (max-width: 750px) {
  #mainDiv {
    width: 100%;
  }
}

.safety-report__dropzone-wrapper {
  padding: 20px;
}

.inspection-record__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inspection-record__wrapper__description {
  width: 100%;
}

.inspection-record__wrapper__resolution {
  width: 100%;
}

.inspection-record__wrapper__between {
  width: 10%;
}

.memo__wrapper {
  width: 100%;
}

.alert__complete {
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  align-content: center;
  flex-grow: 1;
}
.header__project-id {
  font-family: "Roboto";
  color: black;
  margin-right: 10px;
}
.header__project-id__value {
  text-decoration: underline;
}
.header__project-id__value:hover {
  color: #a79da3;
  cursor: pointer;
}

.header__project-group {
  font-family: "Roboto";
  color: #50474c;
  white-space: nowrap;
}

.header__project-name {
  font-family: "Roboto";
  color: #50474c;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
