#mainDiv {
  width: 700px;
  margin: auto;
  margin-top: 3%;
}
@media screen and (max-width: 750px) {
  #mainDiv {
    width: 100%;
  }
}

.safety-report__dropzone-wrapper {
  padding: 20px;
}

.inspection-record__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inspection-record__wrapper__description {
  width: 100%;
}

.inspection-record__wrapper__resolution {
  width: 100%;
}

.inspection-record__wrapper__between {
  width: 10%;
}

.memo__wrapper {
  width: 100%;
}

.alert__complete {
  text-align: center;
}

.project-id {
  flex-basis: 50%;
  font-family: "Roboto";
  margin-bottom: 3% !important;
  color: #50474c;
}
.project-id__value {
  text-decoration: underline;
}
.project-id__value:hover {
  color: #a79da3;
  cursor: pointer;
}
