#mainDiv {
  width: 700px;
  margin: auto;
  margin-top: 3%;
}
@media screen and (max-width: 750px) {
  #mainDiv {
    width: 100%;
  }
}

.safety-report__dropzone-wrapper {
  padding: 20px;
}

.inspection-record__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inspection-record__wrapper__description {
  width: 100%;
}

.inspection-record__wrapper__resolution {
  width: 100%;
}

.inspection-record__wrapper__between {
  width: 10%;
}

.memo__wrapper {
  width: 100%;
}

.alert__complete {
  text-align: center;
}

.project-id {
  font-family: monospace;
  margin-bottom: 3% !important;
}
