@media screen and (min-width: 900px) {
  .halfTableTab2 {
    width: 780px;
    margin: auto;
  }
}

@media screen and (max-width: 1420px) {
  .halfTableTab2 {
    width: 780px;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  .halfTableTab2 {
    width: 100%;
    margin: auto;
  }
}
