@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media screen and (min-width: 900px) {
  #mainDiv {
    width: 1000px;
    margin: auto;
  }
  .header {
    display: flex;
  }
  .header__right__save-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding: 1rem !important;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1420px) {
  #mainDiv {
    width: 1000px;
    margin: auto;
  }
  .header__right__save-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media screen and (max-width: 750px) {
  #mainDiv {
    width: 100%;
    margin: auto;
  }
}

.header {
  justify-content: space-between;
  margin-top: 7%;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.header__left__title {
  font-family: system-ui;
  color: darkblue;
  flex: 0 1 auto;
  margin-right: 10%;
}

.header__left__date-picker {
  width: 220px;
}

.header__left__date-picker input {
  text-align: center;
}

.header__left__project-id {
  flex-basis: 80%;
  font-family: monospace;
  margin-bottom: 0 !important;
  margin-left: 3% !important;
}

.header__right {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: row-reverse;
  margin-bottom: 0rem;
}

.header__right__save-btn {
  padding: 0.5em !important;
  height: auto;
  margin-bottom: 2em !important;
}

.table {
  overflow: auto;
}
.table table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table thead {
  border: 1px solid #ddd;
}

.table thead tr td {
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr {
  background-color: #ffffff;
}

/* .table tr:hover {
  background-color: #ddd;
} */

.table thead td {
  padding-top: 13px;
  padding-bottom: 3px;
  text-align: left;
  background-color: #647be2;
  color: white;
}

.table thead td:nth-child(5),
.table thead td:nth-child(6) {
  padding-top: 6px;
}

.table__task-wrapper {
  display: table;
  height: 100%;
  margin-top: auto;
}

.table__task-wrapper__data {
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}

.table__company-wrapper {
  display: table;
  height: 100%;
  margin-top: auto;
}

.table__company-wrapper__data {
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}

.table__task-name-wrapper {
  display: table;
  height: 100%;
  margin-top: auto;
}

.table__task-name-wrapper__data {
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}

.table__start-date-wrapper {
  display: table;
  height: 100%;
  margin: auto;
}

.table__start-date-wrapper__data {
  font-size: small;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.table__finish-date-wrapper {
  display: table;
  height: 100%;
  margin: auto;
}

.table__finish-date-wrapper__data {
  font-size: small;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.table__finish-date-wrapper__date-picker {
  width: 80px;
}

.table__finish-date-wrapper__date-picker input {
  text-align: center;
}

.table__previous-work-wrapper {
  display: table;
  height: 100%;
  margin-top: auto;
  margin-left: auto;
}

.table__previous-work-wrapper__data {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}

.table__current-work-wrapper {
  display: table;
  height: 100%;
  margin-top: auto;
  margin-left: auto;
}

.table__current-work-wrapper__data {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}

.table__current-work-wrapper__input {
  text-align: center;
  width: 38px !important;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  padding: 4px;
}

/* .table__current-work-wrapper__input::-webkit-outer-spin-button,
.table__current-work-wrapper__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.alert__table__current-work-wrapper__input {
  text-align: center;
}

.alert__complete {
  text-align: center;
}

.table__report-icon {
  cursor: pointer;
}

/* .table__report-icon:hover {
  color: gray;
} */
