@media screen and (min-width: 900px) {
  #mainDiv {
    width: 1000px;
    margin: auto;
  }
  .header {
    display: flex;
  }
  .header__right__save-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding: 1rem !important;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1420px) {
  #mainDiv {
    width: 1000px;
    margin: auto;
  }
  .header__right__save-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media screen and (max-width: 750px) {
  #mainDiv {
    width: 100%;
    margin: auto;
  }
}

.header {
  justify-content: space-between;
  margin-top: 7%;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.header__left__title {
  font-family: system-ui;
  color: darkblue;
  flex: 0 1 auto;
  margin-right: 10%;
}

.header__left__date-picker {
  width: 220px;
}

.header__left__date-picker input {
  text-align: center;
}

.header__left__project-id {
  flex-basis: 80%;
  font-family: monospace;
  margin-bottom: 0 !important;
  margin-left: 3% !important;
}

.header__right {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: row-reverse;
  margin-bottom: 0rem;
}

.header__right__save-btn {
  padding: 0.5em !important;
  height: auto;
  margin-bottom: 2em !important;
}

.table {
  overflow: auto;
}

.table__task-wrapper {
  text-align: center;
}

.table__company-wrapper {
  text-align: left;
}
.table__task-name-wrapper {
  text-align: left;
}
.table__start-date-wrapper {
  font-size: small;
  text-align: center;
}
.table__finish-date-wrapper {
  text-align: left;
}

.table__finish-date-wrapper__date-picker {
  width: 100px;
}

.table__finish-date-wrapper__date-picker input {
  text-align: center;
}

.table__previous-work-wrapper {
  text-align: right;
}
.table__current-work-wrapper {
  text-align: right;
}

.table__current-work-wrapper__input {
  text-align: center;
  width: 50px !important;
}

.alert__table__current-work-wrapper__input {
  text-align: center;
}

.alert__complete {
  text-align: center;
}

.table__report-icon {
  cursor: pointer;
}

.table__report-icon:hover {
  color: gray;
}
