@media screen and (min-width: 900px) {
  #mainDiv {
    width: 60%;
    margin: auto;
  }
  .header {
    display: flex;
  }
  .header__right__add-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 5% !important;
    padding: 1rem !important;
  }
  .header__right__save-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding: 1rem !important;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1420px) {
  #mainDiv {
    width: 100%;
    margin: auto;
  }
  .header__right__add-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 5% !important;
  }
  .header__right__save-btn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

.header {
  justify-content: space-between;
  margin-top: 5%;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left__title {
  margin-right: 5%;
  font-family: system-ui;
  color: darkblue;
  flex: 0 1 auto;
}

.header__left__date-picker input {
  text-align: center;
}
.header__left__project-id {
  flex-basis: 50%;
  font-family: monospace;
  margin-bottom: 0 !important;
  margin-left: 5% !important;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right__checkbox {
  flex-shrink: 0;
}

.table {
  overflow: auto;
}

.table__labor-hours-input {
  text-align: right;
}

.table__ampm-dropdown {
  margin-left: 5% !important;
  width: 50px;
  display: inline-block;
  height: 25px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.table__trade-dropdown {
  display: inline-block;
  height: 25px;
  width: 130px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.table__time-wrapper {
  display: flex;
}

.table__time-wrapper__hour-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__time-wrapper__min-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.alert__table__hour-input {
  text-align: center;
}
.alert__table__employee-input {
  text-align: center;
}
.alert__table__time-wrapper {
  text-align: center;
}
.alert__complete {
  text-align: center;
}

.table__employee-input {
  width: 110px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__delete-icon {
  cursor: pointer;
}

.table__delete-icon:hover {
  color: slateblue;
}
