#mainDiv {
  width: 60%;
  margin: auto;
}
.header {
  display: flex;
}
.header__right__add-btn {
  height: 50%;
  margin-top: auto !important;
  margin-right: 20px !important;
  margin-bottom: 12px !important;
  padding: 1rem !important;
}
.header__right__save-btn {
  height: 50%;
  margin-top: auto !important;
  padding: 1rem !important;
  margin-bottom: 12px !important;
  align-self: flex-end;
}

.header {
  justify-content: space-between;
  margin-top: 3%;
}

.header__left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__left__title {
  margin-right: 20px;
  margin-bottom: 5px;
  font-family: "Roboto";
  color: darkblue;
  flex: 0 1 auto;
}

.header__left__project-id {
  flex-basis: 50%;
  font-family: "Roboto";
  margin-bottom: 2px !important;
  color: #50474c;
}
.header__left__project-id__value {
  text-decoration: underline;
}
.header__left__project-id__value:hover {
  color: #a79da3;
  cursor: pointer;
}
.header__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-grow: 1;
  font-family: "Roboto";
}

.header__right__date-picker {
  width: 120px;
  margin-right: 20px !important;
  margin-bottom: 3px !important;
}

.header__right__date-picker input {
  text-align: center;
  font-family: "Roboto";
}

.header__right__checkbox {
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: 5px;
  font-family: "Roboto";
}

.header__right__label-date-picker {
  margin-bottom: 3px;
  font-family: "Roboto";
  color: #534f51;
}

.table {
  overflow: auto;
}

/* .table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #ddd;
}

.table thead td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
} */

.table .table__labor-hours-input {
  text-align: right;
}

.table__ampm-dropdown {
  margin-left: 5% !important;
  width: 50px;
  display: inline-block;
  height: 25px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.table__position-dropdown {
  display: inline-block;
  height: 25px;
  width: 130px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.table__time-wrapper {
  display: flex;
}

.table__time-wrapper__hour-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__time-wrapper__min-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.alert__table__hour-input {
  text-align: center;
}
.alert__table__employee-input {
  text-align: center;
}
.alert__table__time-wrapper {
  text-align: center;
}
.alert__complete {
  text-align: center;
}

.table__employee-input {
  width: 110px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__delete-icon {
  cursor: pointer;
}

.table__delete-icon:hover {
  color: slateblue;
}
