@media screen and (min-width: 900px) {
  .halfTable {
    width: 60%;
    margin: auto;
  }
  .responsiveFlex {
    display: flex;
  }
  .saveBtn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding: 1rem !important;
    align-self: flex-end;
  }
  .addBtn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 5% !important;
    padding: 1rem !important;
  }
}

@media screen and (max-width: 1420px) {
  .halfTable {
    width: 100%;
    margin: auto;
  }
  .saveBtn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .addBtn {
    height: 50%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 5% !important;
  }
}

.scrollChange {
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
}

.checkBoxForm {
  flex-shrink: 0;
}

.mt-3p {
  margin-top: 3% !important;
}

.timeTableBtn {
  flex-direction: row-reverse;
}

.tableDiv {
  overflow: auto;
}

.tableSelect {
  display: inline-block;
  height: 25px;
  width: 130px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}
.tableInput {
  width: 100px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.ampm {
  margin-left: 5% !important;
  width: 50px;
}

.classDisabled {
  opacity: 0.4;
}

body {
  background-color: rgb(240, 240, 245);
}

.mr-5 {
  margin-right: 5%;
}

.timesheetAndDate,
.selfPerformedTasksAndDate {
  justify-content: space-between;
  margin-top: 5%;
}

.text-right {
  text-align: center;
}

#timesheetTitle,
#selfPerformedTitle {
  font-family: system-ui;
  color: darkblue;
}

.MuiTableCell-root input {
  width: 110px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.MuiTableCell-root .timeInput {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}
.text-center {
  text-align: center;
}

#projectID {
  flex-basis: 40%;
  font-family: monospace;
  margin-bottom: 0 !important;
  margin-left: 10% !important;
}

.deletePointer {
  cursor: pointer;
}

.deletePointer:hover {
  color: slateblue;
}

#saveSelfPerforemdTaskBtn {
  padding: 1em !important;
  height: auto;
}
