.mainDiv {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5% !important;
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px rgb(221, 217, 217);
}

.wrapper-upper {
  display: flex;
  justify-content: center;
}

.wrapper-upper__title {
  color: rgb(114, 109, 109) !important;
  align-self: center;
}
