#mainDiv {
  width: 1150px;
  margin: auto;
  margin-bottom: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.title {
  margin-right: 20px;
  font-family: "Roboto";
  color: darkblue;
  margin-bottom: 0;
}

.header__left {
  align-items: center;
  align-content: center;
  flex-grow: 1;
  display: flex;
}

.header__left__project-id {
  font-family: "Roboto";
  margin-bottom: 15px !important;
  margin-right: 10px;
  color: black;
}

.header__left__project-id__value {
  text-decoration: underline;
}

.header__left__project-group {
  font-family: "Roboto";
  color: #50474c;
  margin-bottom: 20px !important;
  white-space: nowrap;
}

.header__left__project-name {
  font-family: "Roboto";
  color: #50474c;
  margin-bottom: 20px !important;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__left__project-id__value:hover {
  color: #a79da3;
  cursor: pointer;
}

.header__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  font-family: "Roboto";
}

.header__right__add-btn {
  margin-right: 10px !important;
}

.header__right__add-btn-before-sunday {
  margin-right: 10px !important;
  visibility: hidden;
}

.header__right__save-btn {
}

.header__right__save-btn-before-sunday {
  visibility: hidden;
}

.header__right__checkbox {
  flex-shrink: 0;
  font-family: "Roboto";
}

.header__right__checkbox-before-sunday {
  flex-shrink: 0;
  font-family: "Roboto";
  visibility: hidden;
}

.header__right__checkbox:hover {
  background-color: rgba(233, 225, 225, 0.562);
  border-radius: 50%;
}

.header__right__label-date-picker {
  margin-bottom: 17px;
  font-family: "Roboto";
  color: #534f51;
}
.header__right__date-picker {
  width: 120px;
  margin-right: 20px !important;
  margin-bottom: 17px !important;
}

.header__right__date-picker input {
  text-align: center;
  font-family: "Roboto";
  padding-bottom: 4px;
}

.table {
  overflow: auto;
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2),
    1px 2px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.table table th {
  padding: 3px;
}

.table table td {
  padding: 3px;
}

.table table td:nth-child(1) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.table table td:nth-child(2) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.table table td:nth-child(3) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.table table td:nth-child(4) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.table table td:nth-child(5) {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end;
}

.table table td:nth-child(6) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* .table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #ddd;
}

.table thead td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
} */

.table thead tr th {
  text-align: center;
}

.table tbody tr td {
  text-align: center;
}

.table .table__labor-hours-input {
  text-align: right;
}

.table__delete-input {
  text-align: center;
}

.table__ampm-dropdown {
  margin-left: 5% !important;
  width: 50px;
  display: inline-block;
  height: 25px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.table__position-dropdown {
  display: inline-block;
  height: 25px;
  width: 130px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.table__time-wrapper {
  display: flex;
  justify-content: center;
}

.table__time-wrapper__hour-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__time-wrapper__hour-input-before-sunday {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}

.table__time-wrapper__min-input {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__time-wrapper__min-input-before-sunday {
  width: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}

.alert__table__hour-input {
  text-align: center;
}
.alert__table__employee-input {
  text-align: center;
}
.alert__table__time-wrapper {
  text-align: center;
}
.alert__complete {
  text-align: center;
}

.table__employee-input {
  width: 180px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__employee-input-before-sunday {
  width: 180px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}

.table__task-input {
  width: 300px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
}

.table__task-input-before-sunday {
  width: 300px;
  display: inline-block;
  height: 20px;
  color: rgb(116, 100, 110);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  opacity: 0.7;
}

.table__delete-icon {
  cursor: pointer;
}

.table__delete-icon:hover {
  color: slateblue;
}

.table__add-icon {
  color: #8b8689;
  cursor: pointer;
}
.table__add-icon:hover {
  color: slateblue;
}

.arrow-btn {
  color: #4d474a;
  cursor: pointer;
}

.arrow-btn:hover {
  color: slateblue;
}

.table tbody:before {
  content: "-";
  display: block;
  line-height: 5px;
  text-indent: -9999px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  #mainDiv {
    width: 750px;
  }
  .header {
    flex-direction: column;
    justify-content: space-between;
  }

  .header__left {
    margin-top: 20px;
  }
  .tablet-button {
    visibility: visible !important;
  }
  .second-table {
    visibility: hidden !important;
    display: none !important;
  }
  .second-table table {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1334px) {
  .tablet-button {
    visibility: visible !important;
  }
  .second-table {
    visibility: hidden !important;
    display: none !important;
  }
  .second-table table {
    display: none;
    visibility: hidden;
  }
}

.tablet-button-wrapper {
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tablet-button {
  color: #f1f1f1 !important;
  background-color: #92858d !important;
}

.second-table,
.modal-table {
  margin-top: 30px;
  visibility: visible;
  overflow: auto;
  margin-left: 4px;
}

.second-table table,
.modal-table table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.second-table td,
.modal-table td {
  border: 1px solid #ddd;
  font-family: "Roboto";
  font-size: 0.95rem;
  color: #5f685b;
}

.second-table thead th,
.modal-table thead th {
  text-align: center;
  padding: 4px;
  font-size: 0.9rem;
}

.second-table tr:nth-child(even),
.modal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.second-table tr,
.modal-table tr {
  background-color: #ffffff;
}

.second-table tbody tr:hover,
.modal-table tbody tr:hover {
  /* background-color: #ddd; */
  background-color: #bee9f0;
  border: 1px solid #6ea7ec;
  cursor: pointer;
}

.second-table thead th,
.modal-table thead th {
  background-color: #64c9e2;
  color: white;
  font-size: 0.95rem;
  font-weight: 400;
}

.second-table tbody td,
.modal-table tbody td {
  padding: 5px;
  font-size: 0.9rem;
}
