#mainDiv {
  width: 1137px;
  margin: auto;
}
.title {
  font-family: "Roboto";
  color: darkblue;
  margin-right: 20px;
  margin-bottom: 7px;
  margin-left: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  margin-left: 5px;
}

.header__right {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.header__right__label-date-picker {
  margin-bottom: 17px;
  font-family: "Roboto";
  color: #534f51;
}

.header__right__date-picker {
  width: 120px;
  margin-right: 20px !important;
}

.header__right__date-picker input {
  text-align: center;
  padding-bottom: 4px;
}

/* .header__right__save-btn {
} */

.header__right__no-work-btn {
  margin-right: 20px !important;
  white-space: nowrap;
  visibility: hidden;
}

.table {
  overflow: auto;
  margin-left: 4px;
}
.table table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/* .table td {
  border: 1px solid #ddd;
} */

.table th {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table thead th {
  background-color: #1ec996;
  color: white;
  font-weight: 400;
}

.table thead tr th {
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr {
  background-color: #ffffff;
}

.table td {
  border: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: #d3d6e7;
  border: 1px solid #0d8863 !important;
  cursor: default;
}

/* .table thead tr:nth-child(1) th:nth-child(1) {
}
.table thead tr:nth-child(1) th:nth-child(2) {
}
.table thead tr:nth-child(1) th:nth-child(3) {
}
.table thead tr:nth-child(1) th:nth-child(4) {
}
.table thead tr:nth-child(1) th:nth-child(5) {
}
.table thead tr:nth-child(1) th:nth-child(6) {
} */

.table thead tr:nth-child(2) th:nth-child(1) {
  padding-bottom: 20px !important;
}
.table thead tr:nth-child(2) th:nth-child(2) {
  padding-bottom: 20px !important;
}
.table thead tr:nth-child(2) th:nth-child(3) {
  padding-top: 10px !important;
  border-top: 1px solid #ddd;
}
.table thead tr:nth-child(2) th:nth-child(4) {
  padding-top: 10px !important;
  border-top: 1px solid #ddd;
}
/* .table thead tr:nth-child(2) th:nth-child(5) {
}
.table thead tr:nth-child(2) th:nth-child(6) {
} */

.table tbody td {
  padding: 4px;
}

.table input {
  text-align: center;
  width: 150px;
  color: rgb(168, 164, 167);
  border: 1px solid rgb(200, 191, 196);
  border-radius: 4px;
  box-shadow: rgb(221, 216, 220) 1px 1px 2px inset;
  background: rgb(255, 255, 255);
  padding: 4px;
}

.table input:focus {
  color: rgb(15, 14, 15);
}

.table__contractor__input {
  width: 200px !important;
  text-align: left !important;
}

.table__contractor__input + div {
  z-index: 9999;
}

.table__work-activity__input {
  width: 230px !important;
  text-align: left !important;
}

.table__super__input {
  width: 60px !important;
  text-align: right !important;
}

.table__labor__input {
  width: 60px !important;
  text-align: right !important;
}

.table__equipment__input {
  width: 180px !important;
  text-align: left !important;
}

.table__work-performed__input {
  width: 240px !important;
  text-align: left !important;
}

.table__is-deleted__icon {
  color: rgb(163, 159, 159);
  cursor: pointer;
  text-align: center !important;
}

.table__is-deleted__icon:hover {
  color: rgb(44, 150, 91);
}

.table__button-add {
  color: rgb(116, 108, 114);
  text-align: center;
}

.table__button-add:hover {
  background-color: #1ec996;
  color: white;
  cursor: pointer;
}
